{% extends 'master.html' %}

{% block styles %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
{% raw %}
<h1>UnBitly</h1>
<div data-ng-app="BitlyApp" data-ng-controller="BitlyController">
    <div class="container">
        <input type="url" data-ng-model="url" ng-enter="decode()">
        <button type="button" class="decode" alt="Decode Bitly URL" ng-click="decode()"><i class="fa fa-unlock"></i></button>
        <button type="button" class="open" alt="Open resulting URL" ng-click="open()"><i class="fa fa-external-link"></i></button>
    </div>
    <a class="decoded" data-ng-href="{{ decodedUrl }}" href="#">{{ decodedUrl }}</a>
    <div class="loader" ng-show="loading">. . .</div>
</div>
{% endraw %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
